//------------------------------------
//    Neta: Large type header
//------------------------------------

.large-type-header
  padding:
    top: $baseline*2
    bottom: $baseline*2

  +breakpoint(lap)
    > p
      margin-left: percentage(1/5)

// Bath tab type
.ashiyu
  font-size: $baseline
  font-weight: bold
  position: relative
  overflow: hidden
  &:before
    content: ''
    display: block
    position: absolute
    bottom: 15px
    z-index: 1
    width: 100%
    height: 1px
    background-color: $black-70


  +breakpoint(lap)
    font-size: $baseline*5
    font-weight: bold
    position: relative
    overflow: hidden
    &:before
      content: ''
      display: block
      position: absolute
      bottom: $baseline*2.5
      z-index: 1
      width: 100%
      height: 1px
      background-color: $black-70
      transform: translateY(-2px)

