//------------------------------------
//    Neta: Navigation + Logo
//------------------------------------

.site__accentbar
  display: block
  margin:
    top: $baseline
  width: 100%
  height: 1px
  background-color: $black-80

// Adjust position to sit the logo on our baseline
.site__logo
  font-weight: bold
  letter-spacing: -1px
  transition: font-size .1s .1s $easeInQuad
  margin:
    top: $baseline/2

  a
    color: $black-80
    text-decoration: none



.site__nav
  position: relative
  // margin:
  //   left: $baseline



// nav link anchor
.nav__link
  display: inline-block
  margin:
    right: $baseline/2
  text-decoration: none

