//------------------------------------
//    Neta: Section
//------------------------------------


.section__quote
  padding:
    top: $baseline*2
    bottom: $baseline

  +breakpoint(lap)
    padding:
      top: $baseline*5



  > p
    font-weight: bold
    letter-spacing: -0.05rem

    +breakpoint(lap)
      font-size: $baseline



.image-columns
  column-count: 3
  column-gap: $baseline/2
  margin:
    bottom: $baseline

  +breakpoint(lap)
    column-gap: $baseline

  > img
    margin:
      bottom: $baseline/2

    +breakpoint(lap)
      margin:
        bottom: $baseline


