---
pageable: true
per_page: 5
---

.wrap

  - page_articles.each_with_index do |article, i|
    section.section__quote
      p
        = article.data.quote
    aside.sidenote
      .grid
        .grid__col--3-of-6
          - if article.data.images
            figure.image-columns
              - article.data.images.each do |f|
                = image_tag "#{f}"


        .grid__col--3-of-6
          span.item__label
            | by:
          span.item__name
            = article.data.tags
          span.item__label
            | from:
          a.item__link href="#{article.data.found_url}"
            = article.data.found_title

          - if article.data.has_memo
            span.item__label
              | memo:
            span.item__memo
              = article.body

