---
pageable: true
per_page: 12
---

- blog.tags.each do |tag, articles|

  header.header__tag
    h2.tag__title
      = tag

  .grid.tag__item-lists
    .grid__col--1-of-2.grid__col--push-1-of-2
      - articles.each do |tagname|
        h2.tag__title
          = tag


/ section.tag__title-lists
/   article.tag__title
/     | Josef Muller-Brockmann

/   article.tag__title
/     | Massimo Vignelli

/   article.tag__title
/     | Kozuka Shozi

/   article.tag__title
/     | Josef Muller-Brockmann

/   article.tag__title
/     | Josef Muller-Brockmann

/   article.tag__title
/     | Josef Muller-Brockmann

/   article.tag__title
/     | Josef Muller-Brockmann

/   article.tag__title
/     | Josef Muller-Brockmann

/   article.tag__title
/     | Josef Muller-Brockmann

/   article.tag__title
/     | Josef Muller-Brockmann


